<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.AuthorityDao">


	<select id="selectAtrAll" resultType="com.qfedu.pojo.Authority">
		select * from t_authority
	</select>

	<insert id="addAuthority" parameterType="com.qfedu.pojo.Authority">
		INSERT into t_authority VALUES (null,#{aicon},#{aurl},#{parentId},#{title},null)
	</insert>
	<select id="getParentroot" resultType="com.qfedu.pojo.Authority">
		select id,title from t_authority where parentId=0
	</select>
	<delete id="authoritydelete1" parameterType="Integer">
		delete from t_authority where id=#{id}
	</delete>
	<delete id="authoritydelete2" parameterType="Integer">
		delete from t_roleauthority where aid=#{id}
	</delete>
</mapper>