<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.StaffDao">
    <resultMap id="staffMap" type="com.qfedu.vo.StaffVo">
        <id property="no" column="no"></id>
        <result property="name" column="name"></result>
        <result property="did" column="did"></result>
        <result property="flag" column="flag"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <result property="qq" column="qq"></result>
        <result property="phone" column="phone"></result>
        <result property="createdate" column="createdate"></result>
        <result property="photo" column="photo"></result>
        <result property="dname" column="dname"></result>
    </resultMap>
    <select id="findAllStaff" resultMap="staffMap">
        SELECT * from t_staff
    </select>

    <select id="findAllStaffByPage" resultMap="staffMap">
        SELECT s.*, d.name as dname  from t_staff s LEFT JOIN t_depart d on s.did = d.id
     </select>
    
    <delete id="deleteById" parameterType="String">
        DELETE  from t_staff where no =#{no}
    </delete>
    <insert id="addStaff" parameterType="com.qfedu.pojo.Staff">
        INSERT into t_staff VALUES (#{no},#{name},#{did},1,#{sex},#{email},#{qq},#{phone},#{createdate},#{photo})
    </insert>
    <insert id="addStaffList" parameterType="list">
        insert into t_staff(no,name,did,flag,sex,email,qq,phone,createdate) values
        <foreach collection="list" item="stf" separator=",">
            (#{stf.no},#{stf.name},#{stf.did},#{stf.flag},#{stf.sex},#{stf.email},#{stf.qq},#{stf.phone},#{stf.createdate})
        </foreach>
    </insert>
</mapper>